html {
    font-family: monospace;
    padding: 4em;
}

a {
    color: black;
    text-decoration: none;
}
button {
    margin-bottom: 8px;
    cursor: pointer;
}

table {
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
}
table td {
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid black;
    padding: 2em;
}
table td a {
    color: steelblue;
}

form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1em;
}
form > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}
.btn-submit {
    display: inline;
}

.message {
    cursor: pointer;
    margin-bottom: 8px;
    padding: .8em 1em;
    color: white;
    background-color: steelblue;
}
.lyrics {
    white-space: pre-wrap;
}

.container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .2em;
}
.container > * {
    padding: 0.3em 0.6em;
    margin-bottom: 14px;
    box-shadow: 0 4px 0 0 aqua;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 2px;
}
.disable {
    display: none;
}
.confirmation-container {
    width: 60%;
    display: grid;
    grid-template-columns: 7em 7em;
    gap: .8em;
}
.confirmation-container > * {
    width: 100%;
}
.confirmation-container > * > * {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    html {
        padding: 2em;
    }
}
@media screen and (max-width: 425px) {
    html {
        padding: 8px;
    }
}